.btn {
    border: 2px solid $main-color;
    padding: 13px 35px;
    background-color: $main-color;
    color: $white;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
    font-size: 14px;
    white-space: nowrap;

    &:hover {
        background-color: transparent;
        transition: background-color .3s;
        color: $main-color;
    }

    &:active {
        background-color: $main-color;
        transition: background-color .3s;
        color: $white;
    }
}